.header {
  background-color: #564aff;
  width: 18%;
}
.header__nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoBox__logo {
  border: 0.5rem solid white;
  border-radius: 100px;
  height: 2rem;
  width: 2rem;
  margin-right: 15px;
}
.logoBox__siteName {
  color: white;
  font-weight: 450;
  font-size: 1.2rem;
}

.navList {
  margin-top: 4rem;
}
.navList__title {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.navList__text {
  color: white;
  font-weight: 500;
  margin-top: 2rem;
  font-size: 0.9rem;
}
.navList__line {
  border-top: 1px transparent white;
  width: 95%;
  margin-top: 2.5rem;
  margin-left: 0;
}
.navList__dot {
  height: 0.6rem;
  width: 0.6rem;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  margin-right: 15px;
}

.homepageContainer {
  display: flex;
}

.mainContent {
  width: 100%;
  padding: 3rem;
}
.mainContent__title {
  text-align: center;
  color: #564aff;
  font-size: 2.1rem;
  font-weight: 550;
  margin-bottom: 4rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table__head {
  background-color: #564aff;
  color: white;
  text-align: left;
}
.table th,
.table td {
  padding: 20px;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}

table th:first-child {
  border-radius: 3px 0 0 3px;
  padding-right: 10rem;
}

table th:last-child {
  border-radius: 0 3px 3px 0;
  text-align: end;
}

h5 {
  color: #564aff;
  font-size: 1.2rem;
  font-weight: 650;
  margin: 0;
}

.productPageContainer {
  display: flex;
  height: auto;
  width: auto;
}

.productPageTop {
  display: flex;
  align-items: center;
  margin: 2rem 0rem 0rem 2rem;
}
.productPageTop__arrow {
  font-size: 2.5rem;
  font-weight: 600;
  color: gray;
  margin-right: 15rem;
}
.productPageTop__arrowLink {
  width: 4rem;
}
.productPageTop__title {
  flex: 2;
  justify-self: flex-end;
  text-align: center;
  color: #564aff;
  font-size: 1.7rem;
}

.containerBot {
  display: flex;
  align-items: flex-start;
}

.imgContainer {
  padding: 2rem;
}
.imgContainer__imgBox {
  display: flex;
  box-shadow: 0 0 5px #9696962e;
  max-width: 24rem;
  max-height: 20rem;
  padding: 6rem;
  justify-content: center;
}
.imgContainer__productImg {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

.sideContent {
  margin: 2rem 1rem 1rem 0rem;
  font-size: 1.5rem;
}

.textBox {
  display: flex;
}
.textBox__description {
  max-width: 360px;
  height: auto;
  margin: 0rem 3rem 1.9rem 0rem;
}
.textBox__description--text {
  font-size: 13px;
  line-height: 1.3rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.textBox__category--text {
  text-align: center;
  font-size: 0.8rem;
  color: white;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 1rem;
}

.priceModifier {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
}
.priceModifier__priceVat {
  font-size: 0.8rem;
  margin-left: 2rem;
  color: #7e7c7c;
}
.priceModifier__linkedBox {
  display: flex;
  margin-right: 3rem;
}
.priceModifier__linkedBox--currency {
  width: 1.1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-radius: 0px 0.2rem 0.2rem 0px;
  border: solid #564aff 1px;
  border-left: 0;
  color: #7e7c7c;
  margin-left: -0.5rem;
  height: 10px;
  padding: 9px 0 9px 0;
}
.priceModifier__linkedBox--input {
  border: solid #564aff 1px;
  border-right: none;
  max-width: 90px;
  height: 10px;
  border-radius: 0.2rem 0 0 0.2rem;
  padding: 9px;
}
.priceModifier__linkedBox--input:focus {
  outline: 0;
}
.priceModifier__uploadBtn {
  margin-top: 2rem;
  background-color: #564aff;
  padding: 0.6rem 0.7rem 0.6rem 0.7rem;
  color: white;
  border: 0;
  border-radius: 0.2rem;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
