.header {
	background-color: $primaryColor;
	width: 18rem !important;

	&__nav {
		display: flex;
		flex-direction: column;
		padding: 1rem 2.5rem;
	}
}

.logoBox {
	display: flex;
	align-items: center;
	justify-content: center;
	&__logo {
		border: 0.5rem solid white;
		border-radius: 100px;
		height: 2rem;
		width: 2rem;
		margin-right: 15px;
	}
	&__siteName {
		color: white;
		font-weight: 450;
		font-size: 1.2rem;
	}
}

.navList {
	margin-top: 6rem;

	&__title {
		color: white;
		font-size: 1rem;
		font-weight: 500;
		margin-bottom: 2rem;
	}
	&__text {
		color: white;
		font-weight: 500;
		margin-top: 2rem;
		font-size: 0.9rem;
	}
	&__line {
		border-top: 1px transparent white;
		width: 95%;
		margin-top: 2.5rem;
		margin-left: 0;
	}
	&__dot {
		height: 0.5rem;
		width: 0.5rem;
		background-color: white;
		border-radius: 100%;
		display: inline-block;
		margin-right: 15px;
	}
}

@media screen and (max-width: 927px) {
	.header {
		width: 100%;
	}
	.header__nav {
		margin: 0rem 3rem;
		flex-direction: row;
		gap: 5rem;
		align-items: center;
		padding: 10px;
	}

	.navBtn {
		align-items: center;
		display: flex;
	}

	.navList {
		display: flex;
		gap: 1.7rem;
		margin: 0rem 3rem;

		&__line {
			display: none;
		}
		&__title {
			margin: 0;
		}
		&__text {
			margin: 0;
		}
		&__dot {
			height: 0.4rem;
			width: 0.4rem;
		}
	}
}

@media screen and (max-width: 801px) {
	.header__nav {
		flex-direction: column;
		gap: 0;
		padding: 0;
	}

	.navList {
		display: flex;
		margin-top: 1rem;
		margin-bottom: 1rem;

		&__text {
			font-size: 0.8rem;
		}
	}
}

@media screen and (max-width: 490px) {
	.logoBox {
		width: 100%;
	}
	.header__nav {
		margin: 0;
	}
	.navList {
		margin: 0rem 4rem 1rem 1rem;
		display: flex;
		flex-direction: column;
	}

	.navBtn {
		margin: 3rem 0rem 1rem 0;
		align-items: flex-start;
	}
}
